body {
  text-align: center;
  background-color: #fde2f1;
  color: #333333;
  padding: 20px;
}

.app {
  &__heading {
    margin-bottom: 20px;
  }
  &__wrapper {
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
  }
  &__textfield {
    fieldset {
      border-radius: 100vh;
    }
  }
  &__button {
    border-radius: 100vh;
  }
  &__button__delete{
    border-radius: 100vh;
    display: flex;
    justify-content: center;
  }
}
.listitems {
  &__wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    background: #ffffff;
    padding: 30px;
    box-sizing: border-box;

  }
  &__each{
    span{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;}
  }
  &__listicon{
    padding-left: 0;
  }
}
